/* HomeHero.css */
.hero {
  position: relative;
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #9A92F5;
  background-image: url('../../../assets/images/apples.png'), url('../../../assets/images/AppleText.png');
  background-size: cover, contain; /* Set the appropriate sizes for both images */
  background-repeat: no-repeat;
  background-position: top center;
  z-index: -1;
}

body {
  background: #9A92F5;
}

.image-overlay {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 35%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.8;
  z-index: 0;
}
