/* HomeHero.css */
.hero {
  position: relative;
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #ffa89e;
  background-image: url('../../../assets/images/apples.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  /* z-index: 1; Set a lower z-index for the background image */
}

body {
  background: #ffa89e;
}

.image-overlay {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 35%;
  background-image: url('../../../assets/images/AppleText.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.8;
  z-index: 3;
}